.brand {
    background: #fff;
    border-radius: 5px;
    padding: 2em;
}

.img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

.name {
    border-top: 1px solid #888;
    display: block;
    text-align: center;
    padding-top: 1em;
}